/*
define colors here

*/

* {
  margin: 0;
  padding: 0;
}
*,
*::before *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px;
}

body {
  //background-color: pink;
  //font-family: 'Space Mono', monospace;
  font-family: "Lato", sans-serif;
}

//blue color : #0078d7

// @media screen and (max-width: 414px) {

//   }
//   @media screen and (max-width: 393px) {

//   }
//   @media screen and (max-width: 375px) {

//   }
//   @media screen and (max-width: 360px) {

//   }
