.header_main {
  //   background-color: red;
  padding: 1rem 11rem 1rem 11rem;
  //   text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  .header_main-logo {
    // background-color: aqua;
    transform: translateY(0.5rem);
    width: inherit;
    cursor: pointer;
    padding: 0.2rem 0rem 0rem 0rem;
  }
  .header_main-nav {
    // background-color: yellow;
    display: flex;
    transform: translateY(-0.1rem);
    padding: 1rem 0rem 0rem 0rem;
    .link {
      font-size: 1.4rem;
      margin: 0rem 1.5rem 0rem 1.5rem;
      font-family: "Space Mono", monospace;
      text-transform: uppercase;
      &:hover {
        color: #0078d7;
      }
    }
    .link1 {
      cursor: pointer;
    }
    .link2 {
      cursor: pointer;
    }
    .link3 {
      cursor: pointer;
    }
    .header_main-mode {
      ////////////CHANGE DISPLAY PROPERTY TO DISPLAY
      display: none;
      animation-name: button;
      animation-duration: 2s;
      transform: translateX(6rem);

      .header_main-mode-button {
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        transform: translateY(-0.4rem);
        font-size: 1.7rem;
      }
    }
  }
}
