.project_container {
  padding: 0rem 2rem 0rem 2rem;
  margin: 8rem 16rem 0rem 16rem;
  .project_container-heading {
    background-color: yellow;
    padding: 2rem 0rem 1.5rem 0rem;
    text-align: center;
    font-family: "Space Mono", monospace;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #0078d7;
  }
  .project_container-bio {
    background-color: #0078d7;
    font-family: "Space Mono", monospace;
    font-size: 1.8rem;
    text-align: center;
    padding-left: 9rem;
    padding-right: 9rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .project-name {
    color: red;
    background-color: green;
    margin-top: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.6rem;
  }
  .project_container-one-container {
    display: flex;
    font-size: 5rem;
    justify-content: space-between;
    background-color: pink;
    padding: 2rem 0rem 2rem 0rem;
    margin-top: 0rem;
    .project1-image {
      height: 25rem;
      width: auto;
      border: solid grey;
    }
    .project1-text-container {
      .actual-text {
        font-size: 1.6rem;
        text-align: left;
        background-color: aqua;
        margin: 0rem 3rem 0rem 3rem;
        padding: 1.5rem 3rem 1.5rem 3rem;
        color: #575757;
      }
      .actual-text-stack {
        background-color: yellow;
        margin: 0rem 3rem 0rem 3rem;
        text-align: center;
        font-size: 1.5rem;
      }
      .actual-text-buttons-container {
        background-color: greenyellow;
        margin: 0rem 5rem 0rem 5rem;
        padding: 1rem 0rem 1rem 0rem;
        display: flex;
        justify-content: space-around;
        .button-view {
          color: white;
          background-color: #0078d7;
          outline: none;
          border: none;
          border-radius: 10rem;
          text-transform: uppercase;
          font-size: 1.2rem;
          outline: none;
          padding: 0rem;
          padding: 1rem 3rem 1rem 3rem;
          letter-spacing: 0.1rem;
          cursor: pointer;
          font-weight: 500;
          font-family: "Space Mono", monospace;
          letter-spacing: 1px;

          box-shadow: 10px 10px 25px -14px rgba(0, 0, 0, 1);
        }
        .button-source {
          color: white;
          background-color: #0078d7;
          outline: none;
          border: none;
          border-radius: 10rem;
          text-transform: uppercase;
          font-size: 1.2rem;
          outline: none;
          padding: 0rem;
          padding: 1rem 3rem 1rem 3rem;
          letter-spacing: 0.1rem;
          cursor: pointer;
          font-weight: 500;
          font-family: "Space Mono", monospace;
          letter-spacing: 1px;
          box-shadow: 10px 10px 25px -14px rgba(0, 0, 0, 1);
        }
      }
    }
  }
}
